In [1]:
import pickle
from clean_tweets import *

In [2]:
with open('tweets_2019_large_df_reduced.pickle', 'rb') as f:
    large_2019 = pickle.load(f)
large_2019 = large_2019.rename(columns = {'year': 'tweet_year', 'location': 'tweet_location', 
                                          'text': 'tweet_text'})
large_2019.head()

,ID,tweet_text,tweet_year,tweet_location
0,1161789559715196928,Once you combine this gigantic amorphous mass ...,2019,NaN
1,1161789531328319488,Do you believe in the power of #AI education? ...,2019,NaN
2,1161789508771336195,RT MikeQuindazzi: 7 #AI terms in the #Futureof...,2019,"Bordeaux, France"
3,1161789506426671104,What if technology could help you be anywhere ...,2019,"Santiago, Chile"
4,1161789505889820672,RT MikeQuindazzi: #BigData sets unlocking $45 ...,2019,"Bordeaux, France"

In [3]:
with open('tweets_all_years_df_reduced.pickle', 'rb') as f:
    all_years = pickle.load(f)
all_years = all_years.rename(columns = {'year': 'tweet_year', 'location': 'tweet_location', 
                                        'text': 'tweet_text'})
all_years.head()

,ID,tweet_text,tweet_year,tweet_location
0,544845252,Anyone involved in artificial intelligence wor...,2007,"Malham Close, Crawley, West Su"
1,532130162,読書中 Paradigms of Artificial Intelligence Progr...,2007,"JP (Japan, Japan)"
2,531926162,Update on geekgirl LOVE AND SEX WITH ROBOTS: I...,2007,Melbourne
3,524153882,"""A.I. Artificial Intelligence"" a Speilberg mov...",2007,Barsoom!
4,523822582,Paradigms of Artificial Intelligence Programmi...,2007,"JP (Japan, Japan)"

In [4]:
# original tweet text for first 25 'all_years' tweets
all_years.tweet_text[0:25]

0     Anyone involved in artificial intelligence wor...
1     読書中 Paradigms of Artificial Intelligence Progr...
2     Update on geekgirl LOVE AND SEX WITH ROBOTS: I...
3     "A.I. Artificial Intelligence" a Speilberg mov...
4     Paradigms of Artificial Intelligence Programmi...
5     @moltz: chill it, dude. Your twirly brain wave...
6     Leadership and Artificial Intelligence: Two ne...
7     Class: Intro to Artificial Intelligence and Co...
8     aibits: Artificial Intelligence for Advanced P...
9     Most excellent. Artificial intelligence arrive...
10    Artificial Intelligence is no match for Natura...
11                              artificial intelligence
12    @MrFresh LOL that explains the bug in Yar's Ar...
13    aibits: Is mathematics the new artificial inte...
14    You are a real boy. At least as real as I've e...
15      Taking a break from my artificial intelligence.
16    The a posteriori probability of Artificial Int...
17    Oh boy... Just added "Paradigms of Artificial ...
18    NPR: Artificial Intelligence Enters Brave New ...
19    It's really different...john is an AI  artific...
20    Just finished watching Artificial Intelligence...
21    Reading: "OpenAi - - Creating the standard for...
22    Reading: "MachineBrain Robots, Robotics, Artif...
23    reading "Artificial Intelligence: a modern app...
24    Working on artificial intelligence expert syst...
Name: tweet_text, dtype: object

In [5]:
# how many 'all_years' tweets mention natural stupidity?
len([tweet for tweet in all_years['tweet_text'] if 'natural stupidity' in tweet])

242

In [6]:
# cleaned text for first 25 'all_years' tweets
search_words = ['artificial', 'intelligence', 'ai']

for i, tweet in enumerate(all_years.tweet_text[0:25]):
    print(i, ': ', clean_tweet(tweet, search_words), sep = '')

0: anyone involved work specifically anyone know any system that can recognise puns natural language
1: paradigms programming case studies common lisp
2: update geekgirl love and sex with robots advances cont
3: speilberg movie based brian aldiss short story very creepy like better than robot
4: paradigms programming
5: chill dude your twirly brain wave patterns are fucking with the lesbian sexbot orbs production line
6: leadership and two new issues shrinkrapradio were published shortly one aft
7: class intro and computer simulation official grade yay
8: aibits for advanced problem solving techniques
9: most excellent arrives pick your pocket course truly human
10: match for natural stupidity essa esta agora colada meu monitor
11:
12: lol that elains the bug yar module will have upgrade the irobot version
13: aibits mathematics the new
14: you are real boy least real ever made one
15: taking break from
16: the posteriori probability involving lot probability
17: boy just added paradigms programming case studies common lisp amazon wish list
18: npr enters brave new world
19: really different john robot
20: just finished watching thought was supposed happy movie not leave brawling eyes out
21: reading openai creating the standard for
22: reading machinebrain robots robotics and kits
23: reading modern approach from stuart russell and peter norvig spectacular
24: working eert system pretty much done

In [7]:
# clean the tweet text for both the 'all_years' and 'large_2019' tweets
all_years_clean = all_years.copy()
large_2019_clean = large_2019.copy()

all_years_clean['tweet_text'] = [clean_tweet(tweet, search_words) for tweet in all_years['tweet_text']]
large_2019_clean['tweet_text'] = [clean_tweet(tweet, search_words) for tweet in large_2019['tweet_text']]

#all_years_clean = all_years_clean.drop_duplicates(subset = 'tweet_text')
large_2019_clean = large_2019_clean.drop_duplicates(subset = 'tweet_text')  # many duplicate 'retweets'

print(all_years_clean.shape, large_2019_clean.shape)

(5460, 4) (10299, 4)

In [8]:
# save the cleaned tweets
all_years_clean.to_pickle('all_years_clean.pickle')
large_2019_clean.to_pickle('large_2019_clean.pickle')